# Build output
dist/

# Generated Sass output
src/styles/moj-map.raw.css
src/styles/moj-map.raw.css.map

# Node dependencies
node_modules/

# Lint / tooling caches
.eslintcache

# Test output
coverage/
test_results/

# IDEs / OS
.idea
.vscode
**/.DS_Store

# Env files
.env
