<moj-map
  points='{{ params.geoData.points | dump(false) | safe }}'
  lines='{{ params.geoData.lines | dump(false) | safe }}'
  {% if params.usesInternalOverlays %}
    uses-internal-overlays
  {% endif %}
  csp-nonce="{{ params.cspNonce }}"

  {% if params.tileType %}
    tile-type="{{ params.tileType }}"
  {% endif %}

  {% if params.accessTokenUrl %}
    access-token-url="{{ params.accessTokenUrl }}"
  {% endif %}
  {% if params.vectorUrl %}
    vector-url="{{ params.vectorUrl }}"
  {% endif %}
  {% if params.tileUrl %}
    tile-url="{{ params.tileUrl }}"
  {% endif %}

  {% if params.controls.scaleLine %}
    scale-line
  {% endif %}
  {% if params.controls.zoomSlider %}
    zoom-slider
  {% endif %}
  {% if params.controls.rotateControl %}
    rotate-control="{{ params.controls.rotateControl }}"
  {% endif %}
></moj-map>
