{% from "moj/components/alert/macro.njk" import mojAlert %}

<moj-map
  {% if params.usesInternalOverlays %}uses-internal-overlays{% endif %}
  csp-nonce="{{ params.cspNonce }}"
  {% if params.apiKey %}api-key="{{ params.apiKey }}"{% endif %}
  {% if params.renderer %}renderer="{{ params.renderer }}"{% endif %}
  {% if params.controls.scaleControl %}scale-control="{{ params.controls.scaleControl }}"{% endif %}
  {% if params.controls.zoomSlider %}zoom-slider{% endif %}
  {% if params.controls.rotateControl is defined %}
    {% if params.controls.rotateControl %}
      rotate-control="true"
    {% else %}
      rotate-control="false"
    {% endif %}
  {% endif %}
  {% if params.controls.locationDisplay %}location-display="{{ params.controls.locationDisplay }}"{% endif %}
  {% if params.controls.enable3DBuildings %}enable-3d-buildings{% endif %}
  {% if params.controls.grabCursor is not defined or params.controls.grabCursor %}grab-cursor{% endif %}>

  {% if params.alerts and params.alerts.length > 0 %}
    <div slot="alerts" class="moj-map__alerts">
      {% for alert in params.alerts %}
        {{ mojAlert(alert) }}
      {% endfor %}
    </div>
  {% endif %}

  {% if params.positions is defined and params.positions %}
    <script type="application/json" slot="position-data">
      {{ params.positions | dump | safe }}
    </script>
  {% endif %}
</moj-map>
