:host {
  background: rgb(180, 220, 237);
  display: block;
  font-family: $govuk-font-family;
  position: relative;
  height: 100%;
  width: 100%;
}

.app-map__viewport {
  width: 100%;
  height: 100%;
}
