













































:host {
  display: block;
  width: 100%;
}

.app-map__viewport {
  width: 100%;
  height: 100%;
}

.app-map__overlay {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #0b0c0c;
  min-width: 180px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(11, 12, 12, 0.1);
}

.app-map__overlay::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  border-width: 12px;
  border-style: solid;
  border-color: #0b0c0c transparent transparent transparent;
  z-index: -1;
}

.app-map__overlay::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -21px;
  transform: translateX(-50%);
  border-width: 11px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  z-index: 1;
}

.app-map__overlay-header {
  display: flex;
  justify-content: flex-end;
  background-color: #f3f2f1;
  padding: 4px 8px;
  border-bottom: 1px solid #b1b4b6;
}

.app-map__overlay-close {
  background: none;
  border: none;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  color: #0b0c0c;
}

.app-map__overlay-body {
  font-size: 16px;
  padding: 10px;
}
